<h1>
  Your Todos
  <span class="sr-text">
    Todo item list below. Use down arrow to start interacting with the list.
  </span>
</h1>

{{#if isAdding}}
  {{todo-list-form on-submit=(action "submitForm") on-cancel=(action "hideAddForm")}}
{{else}}
  <button class="btn todo-list-app__add-btn" type="button" {{action "showAddForm"}}>
    Add New<span class="sr-text"> todo item</span>
  </button>
{{/if}}

{{todo-list items=todos filter=todoFilter tabindex=listTabIndex
            on-item-change=(action "updateTodo") on-item-delete=(action "deleteTodo")}}
{{#unless todosAreVisible}}
  <div class="todo-list-app__empty-message">
    {{emptyMessage}}
  </div>
{{/unless}}

{{todo-list-filter on-change=(action "filterTodos")}}
