{{action-checkbox is-checked=item.completed action="toggleCompleted"
                  aria-label=completeLabel}}
<span id={{titleId}}>{{item.title}}</span>
<button class="todo-list__item__delete-btn" type="button" {{action "delete"}}>
  <span class="delete-icon">✖</span>
  <span class="todo-list__item__delete-btn__text">Delete todo item {{item.title}}</span>
</button>
